<launch>

    <node name="normal_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
        <!-- <rosparam command="load" file="$(find usb_cam)/config/usb_cam.yml"/> -->
        <param name="video_device" value="/dev/normal" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="normal_cam" />
        <param name="io_method" value="mmap" />
    </node>

</launch>
